<!DOCTYPE html>
<!--
Copyright Axemtum 2024
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="utf-8">
        <title>Manager</title>
        <link href="css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div align="right";>
            <a th:href="@{/logout}"><button>Logout</button></a>
        </div>
        <div id="react"></div>
        <script src="built/bundle.js"></script>
    </body>
</html>